# Module 5

## Lists, Sets and Tuples

## List Exercises

### Level 1

In [3]:
# 1. Declare an empty list

list_empty = list()

squuare_list_empty = []

print(list_empty)
print(squuare_list_empty)

[]
[]

In [9]:
# 2. Declare a list with more than 5 items

full_list = ['salman', 'khadijah', 250, 'kafilat', 'sulaimon']

print(full_list)

['salman', 'khadijah', 250, 'kafilat', 'sulaimon']

In [10]:
# 3. Find the length of your list

print(len(full_list))

5

In [12]:
# 4. Get the first item, the middle item and the last item of the list

print(full_list[0])
print(full_list[2])
print(full_list[-1])

salman
250
sulaimon

In [14]:
# 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['sulaimon', 25, 1.5, 'married', 'zainab vision, kumtao, dorayi, kano state']

print(mixed_data_types)

['sulaimon', 25, 1.5, 'married', 'zainab vision, kumtao, dorayi, kano state']

In [16]:
# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [17]:
# 7. Print the list using _print()_

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [18]:
# 8. Print the number of companies in the list.

print(len(it_companies))

7

In [21]:
# 9. Print the first, middle and last company

print(it_companies[0])
print(it_companies[3])
print(it_companies[-1])

Facebook
Apple
Amazon

In [22]:
# 10. Print the list after modifying one of the companies

it_companies[0] = 'Twitter'

print(it_companies)

['Twitter', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [23]:
# 11. Add an IT company to it_companies

it_companies.append('Ali Express')

print(it_companies)

['Twitter', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Ali Express']

In [24]:
# 12. Insert an IT company in the middle of the companies list

it_companies.insert(4,'Intel')

print(it_companies)

['Twitter', 'Google', 'Microsoft', 'Apple', 'Intel', 'IBM', 'Oracle', 'Amazon', 'Ali Express']

In [31]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)

it_companies[1] = it_companies[1].upper()

print(it_companies)

['Twitter', 'GOOGLE', 'Microsoft', 'Apple', 'Intel', 'IBM', 'Oracle', 'Amazon', 'Ali Express']

In [33]:
# 14. Join the it_companies with a string '#;&nbsp; '

stringg = ['#;&nbsp; ']

joined = stringg + it_companies

print(joined)

['#;&nbsp; ', 'Twitter', 'GOOGLE', 'Microsoft', 'Apple', 'Intel', 'IBM', 'Oracle', 'Amazon', 'Ali Express']

In [34]:
# 15. Check if a certain company exists in the it_companies list.

coy_exist = 'HP' in it_companies

print(coy_exist)

False

In [40]:
# 16. Sort the list using sort() method

it_companies.sort()

print(it_companies)

['Ali Express', 'Amazon', 'Apple', 'GOOGLE', 'IBM', 'Intel', 'Microsoft', 'Oracle', 'Twitter']

In [41]:
# 17. Reverse the list in descending order using reverse() method

it_companies.reverse()

print(it_companies)

['Twitter', 'Oracle', 'Microsoft', 'Intel', 'IBM', 'GOOGLE', 'Apple', 'Amazon', 'Ali Express']

In [43]:
# 18. Slice out the first 3 companies from the list

print(it_companies[0:3])

['Twitter', 'Oracle', 'Microsoft']

In [48]:
# 19. Slice out the last 3 companies from the list

print(it_companies[-3:])

['Apple', 'Amazon', 'Ali Express']

In [50]:
# 20. Slice out the middle IT company or companies from the list

print(it_companies[4])

IBM

In [52]:
# 21. Remove the first IT company from the list

it_companies.pop(0)

print(it_companies)

['Microsoft', 'Intel', 'IBM', 'GOOGLE', 'Apple', 'Amazon', 'Ali Express']

In [53]:
# 22. Remove the middle IT company or companies from the list

it_companies.pop(3)

print(it_companies)

['Microsoft', 'Intel', 'IBM', 'Apple', 'Amazon', 'Ali Express']

In [54]:
# 23. Remove the last IT company from the list

it_companies.pop(-1)

print(it_companies)

['Microsoft', 'Intel', 'IBM', 'Apple', 'Amazon']

In [56]:
# 24. Remove all IT companies from the list

it_companies.clear()

print(it_companies)

[]

In [57]:
# 25. Destroy the IT companies list

del it_companies

print(it_companies)

NameError: name 'it_companies' is not defined

In [65]:
# 26. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end + back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [68]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = front_end + back_end

full_stack.append('Redux')
full_stack.append('Python')
full_stack.append('SQL')

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Redux', 'Python', 'SQL']

### List Exercises: Level 2

In [77]:
# 1. The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
print(max(ages))

print(min(ages))

# Add the min age and the max age again to the list
ages.append(19)
ages.append(26)
print(ages)

# Find the median age (one middle item or two middle items divided by two)
import numpy as np
median = np.median(ages)
print(median)

# Find the average age (sum of all items divided by their number )
average = sum(ages) / len(ages)
print(average)

# Find the range of the ages (max minus min)
range = max(ages) - min(ages)
print(range)

# Compare the value of (min - average) and (max - average), use _abs()_ method
one = min(ages) - average
two = max(ages) - average

if abs(one) == abs(two):
    print('The values are equal.')
else:
    print('The values are not equal')

26
19
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
24.0
22.75
7
The values are not equal

In [80]:
# 2. Find the middle country(ies) in the [countries list]

countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
middle = len(countries) // 2
middle_country = countries[middle]
print(middle_country)

Lesotho

In [81]:
# 3. Divide the countries list into two equal lists if it is even if not one more country for the first half.

half_list1 = countries[:middle]
half_list2 = countries[middle:]

print(half_list1)
print(half_list2)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [83]:
# 4. ['China'., 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'] Unpack the first three countries and the rest as scandic countries.

unpack = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

scandic_countries = unpack[3:]
print(scandic_countries)

['Finland', 'Sweden', 'Norway', 'Denmark']

## Tuple Exercises

### Level 1

In [84]:
# 1. Create an empty tuple
emptty_tuple = ()

print(emptty_tuple)

()

In [89]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

bro_siblings = ('sule','gani','manny','wole','kunle')
sis_siblings = ('salma','sherry','kaffy','tola','wunmi')

In [90]:
# 3. Join brothers and sisters tuples and assign it to siblings
siblings = bro_siblings + sis_siblings

print(siblings)

('sule', 'gani', 'manny', 'wole', 'kunle', 'salma', 'sherry', 'kaffy', 'tola', 'wunmi')

In [91]:
# 4. How many siblings do you have?

print(len(siblings))

10

In [92]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

fam = list(siblings)
fam.append('mother')
fam.append('father')

family_members = tuple(fam)
print(family_members)

('sule', 'gani', 'manny', 'wole', 'kunle', 'salma', 'sherry', 'kaffy', 'tola', 'wunmi', 'mother', 'father')

### Level 2

In [94]:
# 1. Unpack siblings and parents from family_members
del siblings

print(siblings)

NameError: name 'siblings' is not defined

In [95]:
# 2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ('orange','tangerine','pineapple','apple')
vegetables = ('carrot','spinash','cucumber')
animal_product = ('goat','dog','sheep','cow')

food_stuff_tp = fruits + vegetables + animal_product

print(food_stuff_tp)

('orange', 'tangerine', 'pineapple', 'apple', 'carrot', 'spinash', 'cucumber', 'goat', 'dog', 'sheep', 'cow')

In [96]:
# 3. Change the about food_stuff_tp  tuple to a food_stuff_lt list

food_stuff_lt = list(food_stuff_tp)

print(food_stuff_lt)

['orange', 'tangerine', 'pineapple', 'apple', 'carrot', 'spinash', 'cucumber', 'goat', 'dog', 'sheep', 'cow']

In [98]:
# 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

mid_food = len(food_stuff_lt) // 2
slicer = food_stuff_lt[mid_food]
print(slicer)

spinash

In [105]:
# 5. Slice out the first three items and the last three items from food_staff_lt list

first_3 = food_stuff_lt[:3]
last_3 = food_stuff_lt[8:11]

print(first_3)
print(last_3)

['orange', 'tangerine', 'pineapple']
['dog', 'sheep', 'cow']

In [106]:
# 6. Delete the food_staff_tp tuple completely
del food_stuff_lt

print(food_stuff_lt)

NameError: name 'food_stuff_lt' is not defined

In [107]:
# 7. Check if an item exists in  tuple:

# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True

## Sets Exercises

### Level 1

In [108]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies

print(len(it_companies))

7

In [109]:
# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')

print(it_companies)

{'Apple', 'Facebook', 'Google', 'Twitter', 'Amazon', 'Microsoft', 'Oracle', 'IBM'}

In [110]:
# 3. Insert multiple IT companies at once to the set it_companies

it_companies.update(['Intel','HP','Samsung','Tecno'])

print(it_companies)

{'Apple', 'Twitter', 'HP', 'Oracle', 'Tecno', 'Google', 'Amazon', 'Microsoft', 'Samsung', 'Intel', 'IBM', 'Facebook'}

In [112]:
# 4. Remove one of the companies from the set it_companies

it_companies.remove('Tecno')

print(it_companies)

{'Apple', 'Twitter', 'HP', 'Oracle', 'Google', 'Amazon', 'Microsoft', 'Samsung', 'Intel', 'IBM', 'Facebook'}

In [114]:
# 5. What is the difference between remove and discard

print('We can remove an item from a set using _remove()_ method. If the item is not found _remove()_ method will raise errors but _discard()_ method does not raise any errors.')

We can remove an item from a set using _remove()_ method. If the item is not found _remove()_ method will raise errors but _discard()_ method does not raise any errors.

### Level 2

In [116]:
# 1. Join A and B
A = {'banana', 'orange', 'mango', 'lemon','potato', 'cabbage'}
B = {'tomato', 'potato', 'cabbage','onion', 'carrot'}

print(A.union(B))

{'carrot', 'potato', 'tomato', 'lemon', 'onion', 'banana', 'cabbage', 'orange', 'mango'}

In [117]:
# 2. Find A intersection B

print(A.intersection(B))

{'cabbage', 'potato'}

In [118]:
# 3. Is A subset of B

print(A.issubset(B))

False

In [119]:
# 4. Are A and B disjoint sets

print(A.isdisjoint(B))

False

In [121]:
# 5. Join A with B and B with A

print(A.union(B))
print(B.union(A))

{'carrot', 'potato', 'tomato', 'lemon', 'onion', 'banana', 'cabbage', 'orange', 'mango'}
{'carrot', 'tomato', 'potato', 'lemon', 'onion', 'banana', 'cabbage', 'orange', 'mango'}

In [122]:
# 6. What is the symmetric difference between A and B
print(A.symmetric_difference(B))

{'carrot', 'tomato', 'onion'}

In [123]:
#7. Delete the sets completely

del A
del B

print(A)
print(B)

NameError: name 'A' is not defined

### Level 3

In [125]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

list_of_ages = [19,20,24,20,28,21,22,23,24,25,26,27]

set_of_list = set(list_of_ages)

print(len(list_of_ages)) #length of list is bigger
print(len(set_of_list))

12
10

In [ ]:
# 2. Explain the difference between the following data types: string, list, tuple and set

In [127]:
# 3. _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

word ='I am a teacher and I love to inspire and teach people.'

print(word.split())

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']